# ----------------------------------
# Python
# ----------------------------------

__pycache__/
*.py[cod]
*$py.class

*.so

.Python

.python-version


# ----------------------------------
# Virtual Environment
# ----------------------------------

venv/
env/
ENV/

.venv/


# ----------------------------------
# Pytest
# ----------------------------------

.pytest_cache/

.cache/

coverage.xml

htmlcov/

.coverage

.coverage.*


# ----------------------------------
# Reports
# ----------------------------------

reports/

allure-results/

allure-report/

test-output/

logs/

*.log


# ----------------------------------
# IDE
# ----------------------------------

.vscode/

.idea/

*.iml


# ----------------------------------
# OS
# ----------------------------------

.DS_Store

Thumbs.db


# ----------------------------------
# Jupyter
# ----------------------------------

.ipynb_checkpoints/


# ----------------------------------
# Docker
# ----------------------------------

docker-compose.override.yml


# ----------------------------------
# Environment Files
# ----------------------------------

.env

.env.*


# ----------------------------------
# Build
# ----------------------------------

build/

dist/

*.egg-info/


# ----------------------------------
# PostgreSQL
# ----------------------------------

*.sql

postgres_data/


# ----------------------------------
# Temporary Files
# ----------------------------------

tmp/

temp/

*.tmp


# ----------------------------------
# Playwright
# ----------------------------------

playwright-report/

test-results/


# ----------------------------------
# Locust
# ----------------------------------

.locust/


# ----------------------------------
# Mac
# ----------------------------------

.AppleDouble

.LSOverride


# ----------------------------------
# Runtime
# ----------------------------------

*.pid

*.seed


# ----------------------------------
# Secrets
# ----------------------------------

secrets/

config/local.yaml

config/private.yaml